<img src="logo.png" alt="UMU logo" height="10px" width="200px"  style="display:block; margin-left:auto; margin-right:auto;">
<h2> UMU Data Analysis and Visualization </h2>
<h4> Hitanghu Moses Mulongo - 2024-M132-20791 </h4>
<p> Assignemt 2  - Python Reusable Class</p>

<h4> Importing required packages </h4>

In [3]:
import pandas as pd
import numpy as np

<h4> Loading data into data frames </h4>

In [5]:
#Loading titanic data and displaying the first 5 records
titanic_df = pd.read_csv("Titanic-Dataset.csv", sep=",", header=0)
titanic_df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<h4>  Loading supermarket sales data </h4>

In [7]:
sales_df = pd.read_csv("supermarkets_sales.csv", sep=",", header=0)
sales_df.head(5)

,Invoice ID,Branch,City,Customer type,Gender,Category,Unit price,Quantity,Tax 5%,Amount,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,870-72-4431,Kenloy,Jinja,Normal,Male,Health and beauty,19838,36.0,30.0,714168.0,5/25/2024,14:42,Credit Card,595.14,4.761905,29.757,5.5
1,870-72-4431,Kenloy,Jinja,Normal,Female,Health and beauty,19838,36.0,30.0,714168.0,1/21/2024,14:42,Cash,595.14,4.761905,29.757,5.5
2,648-94-3045,Kenloy,Jinja,Normal,Male,Health and beauty,11790,100.0,29.0,1179000.0,6/7/2024,14:27,MOMO,589.50,4.761905,29.475,8.1
3,648-94-3045,Kenloy,Jinja,Normal,Male,Health and beauty,11790,64.0,29.0,754560.0,2/7/2024,14:27,MOMO,589.50,4.761905,29.475,8.1
4,137-63-5492,Kenloy,Jinja,Normal,Male,Electronic accessories,11752,100.0,29.0,1175200.0,5/29/2024,14:26,MOMO,587.60,4.761905,29.380,9.0

<h4>  Loading TB Burden dataset </h4>

In [9]:
tb_burden_df = pd.read_csv("TB_Burden_Country.csv", sep=",", header=0)
tb_burden_df.head(5)

,Country or territory name,ISO 2-character country/territory code,ISO 3-character country/territory code,ISO numeric country/territory code,Region,Year,Estimated total population number,Estimated prevalence of TB (all forms) per 100 000 population,"Estimated prevalence of TB (all forms) per 100 000 population, low bound","Estimated prevalence of TB (all forms) per 100 000 population, high bound",...,Estimated incidence of TB cases who are HIV-positive per 100 000 population,"Estimated incidence of TB cases who are HIV-positive per 100 000 population, low bound","Estimated incidence of TB cases who are HIV-positive per 100 000 population, high bound",Estimated incidence of TB cases who are HIV-positive,"Estimated incidence of TB cases who are HIV-positive, low bound","Estimated incidence of TB cases who are HIV-positive, high bound",Method to derive TBHIV estimates,"Case detection rate (all forms), percent","Case detection rate (all forms), percent, low bound","Case detection rate (all forms), percent, high bound"
0,Afghanistan,AF,AFG,4,EMR,1990,11731193,306.0,156.0,506.0,...,0.11,0.08,0.14,12.0,9.4,16.0,NaN,20.0,15.0,24.0
1,Afghanistan,AF,AFG,4,EMR,1991,12612043,343.0,178.0,562.0,...,0.13,0.11,0.16,17.0,14.0,20.0,NaN,96.0,80.0,110.0
2,Afghanistan,AF,AFG,4,EMR,1992,13811876,371.0,189.0,614.0,...,0.16,0.14,0.18,22.0,19.0,24.0,NaN,NaN,NaN,NaN
3,Afghanistan,AF,AFG,4,EMR,1993,15175325,392.0,194.0,657.0,...,0.19,0.17,0.21,28.0,25.0,31.0,NaN,NaN,NaN,NaN
4,Afghanistan,AF,AFG,4,EMR,1994,16485018,410.0,198.0,697.0,...,0.21,0.18,0.24,35.0,30.0,39.0,NaN,NaN,NaN,NaN

<h4> Cleaning datasets using the python reusable class </h4>

In [11]:
#importing the reusable class
from data_cleaner import DataCleaner 
# Creating cleaner instance
cleaner = DataCleaner(strategy="mean", scaling="standard")

In [12]:
# store all the dfs in a dictionery
datasets = {
    "TB Burden Data": tb_burden_df,
    "Titanic Data": titanic_df,
    "Sales Data": sales_df
}

<h4> Check for missing values </h4>

In [14]:
for name, df in datasets.items():
    print(f"\n===== {name} Missing Values=====")
    cleaner.check_missing_values(df)

===== TB Burden Data Missing Values=====
*** Total Missing Values = 27984 ***

===== Titanic Data Missing Values=====
*** Total Missing Values = 177 ***

===== Sales Data Missing Values=====
*** Total Missing Values = 131 ***

<h4> Automating Cleaning </h4>

In [16]:

#looping through the dfs in a dictionery

for name, df in datasets.items():
   
    # Apply full cleaning pipeline
    cleaned_df, logs = cleaner.clean(name,df)
    print(f"\n --- {name} Logs ---")
    print("\n".join(logs))
    print("\n--- Cleaned Dataset ---")
    print(cleaned_df)
    
    print(f'\n Checking for missing values in  {name}')
    print('*******************************************')
    cleaner.check_missing_values(cleaned_df)

Starting cleaning process for TB Burden Data...
-------------------------------------------------
Filled 5120 missing values with mean.
Detected 48 outliers in Estimated total population number.
Detected 86 outliers in Estimated prevalence of TB (all forms) per 100 000 population.
Detected 93 outliers in Estimated prevalence of TB (all forms) per 100 000 population, low bound.
Detected 86 outliers in Estimated prevalence of TB (all forms) per 100 000 population, high bound.
Detected 48 outliers in Estimated prevalence of TB (all forms).
Detected 48 outliers in Estimated prevalence of TB (all forms), low bound.
Detected 64 outliers in Estimated prevalence of TB (all forms), high bound.
Detected 110 outliers in Estimated mortality of TB cases (all forms, excluding HIV) per 100 000 population.
Detected 106 outliers in Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, low bound.
Detected 112 outliers in Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, high bound.
Detected 79 outliers in Estimated number of deaths from TB (all forms, excluding HIV).
Detected 90 outliers in Estimated number of deaths from TB (all forms, excluding HIV), low bound.
Detected 83 outliers in Estimated number of deaths from TB (all forms, excluding HIV), high bound.
Detected 141 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population.
Detected 140 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population, low bound.
Detected 126 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population, high bound.
Detected 97 outliers in Estimated number of deaths from TB in people who are HIV-positive.
Detected 95 outliers in Estimated number of deaths from TB in people who are HIV-positive, low bound.
Detected 93 outliers in Estimated number of deaths from TB in people who are HIV-positive, high bound.
Detected 111 outliers in Estimated incidence (all forms) per 100 000 population.
Detected 115 outliers in Estimated incidence (all forms) per 100 000 population, low bound.
Detected 107 outliers in Estimated incidence (all forms) per 100 000 population, high bound.
Detected 48 outliers in Estimated number of incident cases (all forms).
Detected 48 outliers in Estimated number of incident cases (all forms), low bound.
Detected 55 outliers in Estimated number of incident cases (all forms), high bound.
Detected 184 outliers in Estimated HIV in incident TB (percent).
Detected 160 outliers in Estimated HIV in incident TB (percent), low bound.
Detected 192 outliers in Estimated HIV in incident TB (percent), high bound.
Detected 131 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population.
Detected 132 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population, low bound.
Detected 127 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population, high bound.
Detected 79 outliers in Estimated incidence of TB cases who are HIV-positive.
Detected 76 outliers in Estimated incidence of TB cases who are HIV-positive, low bound.
Detected 83 outliers in Estimated incidence of TB cases who are HIV-positive, high bound.
Detected 5120 outliers in Method to derive TBHIV estimates.
Detected 22 outliers in Case detection rate (all forms), percent.
Detected 22 outliers in Case detection rate (all forms), percent, low bound.
Detected 36 outliers in Case detection rate (all forms), percent, high bound.
Warning: all rows dropped after outlier removal.
Skipping scaling (no numeric data or empty DataFrame).
Cleaned categorical column: Country or territory name.
Cleaned categorical column: ISO 2-character country/territory code.
Cleaned categorical column: ISO 3-character country/territory code.
Cleaned categorical column: Region.
Cleaned categorical column: Method to derive prevalence estimates.
Cleaned categorical column: Method to derive mortality estimates.
Cleaned categorical column: Method to derive incidence estimates.
Finished cleaning. Final shape: (0, 47)

 --- TB Burden Data Logs ---
Starting cleaning process for TB Burden Data...
-------------------------------------------------
Filled 5120 missing values with mean.
Detected 48 outliers in Estimated total population number.
Detected 86 outliers in Estimated prevalence of TB (all forms) per 100 000 population.
Detected 93 outliers in Estimated prevalence of TB (all forms) per 100 000 population, low bound.
Detected 86 outliers in Estimated prevalence of TB (all forms) per 100 000 population, high bound.
Detected 48 outliers in Estimated prevalence of TB (all forms).
Detected 48 outliers in Estimated prevalence of TB (all forms), low bound.
Detected 64 outliers in Estimated prevalence of TB (all forms), high bound.
Detected 110 outliers in Estimated mortality of TB cases (all forms, excluding HIV) per 100 000 population.
Detected 106 outliers in Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, low bound.
Detected 112 outliers in Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, high bound.
Detected 79 outliers in Estimated number of deaths from TB (all forms, excluding HIV).
Detected 90 outliers in Estimated number of deaths from TB (all forms, excluding HIV), low bound.
Detected 83 outliers in Estimated number of deaths from TB (all forms, excluding HIV), high bound.
Detected 141 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population.
Detected 140 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population, low bound.
Detected 126 outliers in Estimated mortality of TB cases who are HIV-positive, per 100 000 population, high bound.
Detected 97 outliers in Estimated number of deaths from TB in people who are HIV-positive.
Detected 95 outliers in Estimated number of deaths from TB in people who are HIV-positive, low bound.
Detected 93 outliers in Estimated number of deaths from TB in people who are HIV-positive, high bound.
Detected 111 outliers in Estimated incidence (all forms) per 100 000 population.
Detected 115 outliers in Estimated incidence (all forms) per 100 000 population, low bound.
Detected 107 outliers in Estimated incidence (all forms) per 100 000 population, high bound.
Detected 48 outliers in Estimated number of incident cases (all forms).
Detected 48 outliers in Estimated number of incident cases (all forms), low bound.
Detected 55 outliers in Estimated number of incident cases (all forms), high bound.
Detected 184 outliers in Estimated HIV in incident TB (percent).
Detected 160 outliers in Estimated HIV in incident TB (percent), low bound.
Detected 192 outliers in Estimated HIV in incident TB (percent), high bound.
Detected 131 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population.
Detected 132 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population, low bound.
Detected 127 outliers in Estimated incidence of TB cases who are HIV-positive per 100 000 population, high bound.
Detected 79 outliers in Estimated incidence of TB cases who are HIV-positive.
Detected 76 outliers in Estimated incidence of TB cases who are HIV-positive, low bound.
Detected 83 outliers in Estimated incidence of TB cases who are HIV-positive, high bound.
Detected 5120 outliers in Method to derive TBHIV estimates.
Detected 22 outliers in Case detection rate (all forms), percent.
Detected 22 outliers in Case detection rate (all forms), percent, low bound.
Detected 36 outliers in Case detection rate (all forms), percent, high bound.
Warning: all rows dropped after outlier removal.
Skipping scaling (no numeric data or empty DataFrame).
Cleaned categorical column: Country or territory name.
Cleaned categorical column: ISO 2-character country/territory code.
Cleaned categorical column: ISO 3-character country/territory code.
Cleaned categorical column: Region.
Cleaned categorical column: Method to derive prevalence estimates.
Cleaned categorical column: Method to derive mortality estimates.
Cleaned categorical column: Method to derive incidence estimates.
Finished cleaning. Final shape: (0, 47)

--- Cleaned Dataset ---
Empty DataFrame
Columns: [Country or territory name, ISO 2-character country/territory code, ISO 3-character country/territory code, ISO numeric country/territory code, Region, Year, Estimated total population number, Estimated prevalence of TB (all forms) per 100 000 population, Estimated prevalence of TB (all forms) per 100 000 population, low bound, Estimated prevalence of TB (all forms) per 100 000 population, high bound, Estimated prevalence of TB (all forms), Estimated prevalence of TB (all forms), low bound, Estimated prevalence of TB (all forms), high bound, Method to derive prevalence estimates, Estimated mortality of TB cases (all forms, excluding HIV) per 100 000 population, Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, low bound, Estimated mortality of TB cases (all forms, excluding HIV), per 100 000 population, high bound, Estimated number of deaths from TB (all forms, excluding HIV), Estimated number of deaths from TB (all forms, excluding HIV), low bound, Estimated number of deaths from TB (all forms, excluding HIV), high bound, Estimated mortality of TB cases who are HIV-positive, per 100 000 population, Estimated mortality of TB cases who are HIV-positive, per 100 000 population, low bound, Estimated mortality of TB cases who are HIV-positive, per 100 000 population, high bound, Estimated number of deaths from TB in people who are HIV-positive, Estimated number of deaths from TB in people who are HIV-positive, low bound, Estimated number of deaths from TB in people who are HIV-positive, high bound, Method to derive mortality estimates, Estimated incidence (all forms) per 100 000 population, Estimated incidence (all forms) per 100 000 population, low bound, Estimated incidence (all forms) per 100 000 population, high bound, Estimated number of incident cases (all forms), Estimated number of incident cases (all forms), low bound, Estimated number of incident cases (all forms), high bound, Method to derive incidence estimates, Estimated HIV in incident TB (percent), Estimated HIV in incident TB (percent), low bound, Estimated HIV in incident TB (percent), high bound, Estimated incidence of TB cases who are HIV-positive per 100 000 population, Estimated incidence of TB cases who are HIV-positive per 100 000 population, low bound, Estimated incidence of TB cases who are HIV-positive per 100 000 population, high bound, Estimated incidence of TB cases who are HIV-positive, Estimated incidence of TB cases who are HIV-positive, low bound, Estimated incidence of TB cases who are HIV-positive, high bound, Method to derive TBHIV estimates, Case detection rate (all forms), percent, Case detection rate (all forms), percent, low bound, Case detection rate (all forms), percent, high bound]
Index: []

[0 rows x 47 columns]

 Checking for missing values in  TB Burden Data
*******************************************
*** Total Missing Values = 0 ***
Starting cleaning process for Titanic Data...
-------------------------------------------------
Filled 0 missing values with mean.
Detected 7 outliers in Age.
Detected 30 outliers in SibSp.
Detected 15 outliers in Parch.
Detected 20 outliers in Fare.
Standardized numerical columns.
Cleaned categorical column: Name.
Cleaned categorical column: Sex.
Cleaned categorical column: Ticket.
Cleaned categorical column: Cabin.
Cleaned categorical column: Embarked.
Finished cleaning. Final shape: (820, 12)

 --- Titanic Data Logs ---
Starting cleaning process for Titanic Data...
-------------------------------------------------
Filled 0 missing values with mean.
Detected 7 outliers in Age.
Detected 30 outliers in SibSp.
Detected 15 outliers in Parch.
Detected 20 outliers in Fare.
Standardized numerical columns.
Cleaned categorical column: Name.
Cleaned categorical column: Sex.
Cleaned categorical column: Ticket.
Cleaned categorical column: Cabin.
Cleaned categorical column: Embarked.
Finished cleaning. Final shape: (820, 12)

--- Cleaned Dataset ---
     PassengerId  Survived    Pclass  \
0      -1.743605     -0.80  0.833995
1      -1.739685      1.25 -1.586804
2      -1.735764      1.25  0.833995
3      -1.731843      1.25 -1.586804
4      -1.727923     -0.80  0.833995
..           ...       ...       ...
886     1.730122     -0.80 -0.376405
887     1.734043      1.25 -1.586804
888     1.737964     -0.80  0.833995
889     1.741884      1.25 -1.586804
890     1.745805     -0.80  0.833995

                                                  Name     Sex       Age  \
0                              braund, mr. owen harris    male -0.641702
1    cumings, mrs. john bradley (florence briggs th...  female  0.675821
2                               heikkinen, miss. laina  female -0.312321
3         futrelle, mrs. jacques heath (lily may peel)  female  0.428785
4                             allen, mr. william henry    male  0.428785
..                                                 ...     ...       ...
886                              montvila, rev. juozas    male -0.229976
887                       graham, miss. margaret edith  female -0.888737
888           johnston, miss. catherine helen "carrie"  female -0.007717
889                              behr, mr. karl howell    male -0.312321
890                                dooley, mr. patrick    male  0.181750

        SibSp     Parch            Ticket      Fare    Cabin Embarked
0    1.051956 -0.451141         a/5 21171 -0.623707  unknown        s
1    1.051956 -0.451141          pc 17599  1.525109      c85        c
2   -0.563407 -0.451141  ston/o2. 3101282 -0.601055  unknown        s
3    1.051956 -0.451141            113803  0.914918     c123        s
4   -0.563407 -0.451141            373450 -0.596861  unknown        s
..        ...       ...               ...       ...      ...      ...
886 -0.563407 -0.451141            211536 -0.430749  unknown        s
887 -0.563407 -0.451141            112053  0.139733      b42        s
888  1.051956  3.088912        w./c. 6607 -0.080071  unknown        s
889 -0.563407 -0.451141            111369  0.139733     c148        c
890 -0.563407 -0.451141            370376 -0.606928  unknown        q

[820 rows x 12 columns]

 Checking for missing values in  Titanic Data
*******************************************
*** Total Missing Values = 0 ***
Starting cleaning process for Sales Data...
-------------------------------------------------
Filled 0 missing values with mean.
Detected 113 outliers in Quantity.
Detected 80 outliers in Amount.
Detected 11 outliers in Rating.
Standardized numerical columns.
Cleaned categorical column: Invoice ID.
Cleaned categorical column: Branch.
Cleaned categorical column: City.
Cleaned categorical column: Customer type.
Cleaned categorical column: Gender.
Cleaned categorical column: Category.
Cleaned categorical column: Date.
Cleaned categorical column: Time.
Cleaned categorical column: Payment.
Finished cleaning. Final shape: (2926, 17)

 --- Sales Data Logs ---
Starting cleaning process for Sales Data...
-------------------------------------------------
Filled 0 missing values with mean.
Detected 113 outliers in Quantity.
Detected 80 outliers in Amount.
Detected 11 outliers in Rating.
Standardized numerical columns.
Cleaned categorical column: Invoice ID.
Cleaned categorical column: Branch.
Cleaned categorical column: City.
Cleaned categorical column: Customer type.
Cleaned categorical column: Gender.
Cleaned categorical column: Category.
Cleaned categorical column: Date.
Cleaned categorical column: Time.
Cleaned categorical column: Payment.
Finished cleaning. Final shape: (2926, 17)

--- Cleaned Dataset ---
       Invoice ID      Branch   City Customer type  Gender  \
0     870-72-4431      kenloy  jinja        normal    male
1     870-72-4431      kenloy  jinja        normal  female
2     648-94-3045      kenloy  jinja        normal    male
3     648-94-3045      kenloy  jinja        normal    male
4     137-63-5492      kenloy  jinja        normal    male
...           ...         ...    ...           ...     ...
3062  800-09-8606  friendship  mbale        member  female
3063  182-69-8360  friendship  mbale        normal  female
3064  283-26-5248  friendship  mbale        member  female
3065  862-29-5914  friendship  mbale        normal  female
3066  457-94-0464  friendship  mbale        member    male

                    Category  Unit price  Quantity    Tax 5%    Amount  \
0          health and beauty    2.030346 -0.347476  1.208748  0.377140
1          health and beauty    2.030346 -0.347476  1.208748  0.377140
2          health and beauty    0.497548  0.913434  1.123363  1.136315
3          health and beauty    0.497548  0.204172  1.123363  0.443109
4     electronic accessories    0.490310  0.913434  1.123363  1.130109
...                      ...         ...       ...       ...       ...
3062      home and lifestyle   -0.083918 -0.514940  0.512218 -0.396846
3063  electronic accessories   -1.297510 -0.709987 -0.948938 -0.721276
3064      food and beverages    0.128442  1.110451  2.853269  0.980701
3065       sports and travel   -1.321698 -1.035065 -1.257264 -0.785237
3066  electronic accessories   -0.074395  0.698685  2.023452  0.489430

           Date   Time      Payment      cogs  gross margin percentage  \
0     5/25/2024  14:42  credit card  1.187955                      0.0
1     1/21/2024  14:42         cash  1.187955                      0.0
2      6/7/2024  14:27         momo  1.163878                      0.0
3      2/7/2024  14:27         momo  1.163878                      0.0
4     5/29/2024  14:26         momo  1.155768                      0.0
...         ...    ...          ...       ...                      ...
3062  6/29/2024  19:45         cash  0.512230                      0.0
3063  6/30/2024  13:32  credit card -0.948802                      0.0
3064  6/30/2024  20:23         momo  2.853083                      0.0
3065  6/30/2024  17:08  credit card -1.257102                      0.0
3066  6/30/2024  20:32         momo  2.023337                      0.0

      gross income    Rating
0         1.187955 -0.614266
1         1.187955 -0.614266
2         1.163878  0.614512
3         1.163878  0.614512
4         1.155768  1.039858
...            ...       ...
3062      0.512230 -0.094398
3063     -0.948802 -1.323176
3064      2.853083 -1.086872
3065     -1.257102  0.850815
3066      2.023337 -0.567005

[2926 rows x 17 columns]

 Checking for missing values in  Sales Data
*******************************************
*** Total Missing Values = 0 ***